// a {
//   width: 100%;
// }

// a > h2 {
//   padding: 10px;
// }
.groups {
  &__groups {
  }
  &__container {
    border: 2px solid black;
    width: 300px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    justify-content: last baseline;
    background-color: #81a4cd;
    font-size: 30px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
  }
  &__button {
    justify-content: left;
  }
}

.container_wrapper {
  -webkit-box-shadow: 7px 4px 8px 0px var(--box-shadow-color, 0.2);
  -moz-box-shadow: 7px 4px 8px 0px var(--box-shadow-color, 0.2);
  box-shadow: 7px 4px 8px 0px var(--box-shadow-color, 0.2);
}

// .container_wrapper:hover {
//   -webkit-transform: scale(1.1);
//   -ms-transform: scale(1.1);
//   transform: scale(1.1);
//   transition: 400ms;
// }

.btn-rel {
  position: absolute;
  bottom: 0;
}
