.main {
  &__container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  &__wrapper {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__select {
    width: 300px;
    justify-content: center;
    display: flex;
  }
}
