.card__container {
  padding: 10px;
  font-size: 60px;
  width: 750px;

  text-align: center;
  vertical-align: middle;
}

.btn_and_card {
  display: flex;
  justify-content: center;
}

.actions_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

// label {
//   -webkit-perspective: 1000px;
//   perspective: 1000px;
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;
//   display: block;
//   width: 700px;
//   height: 250px;
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   -webkit-transform: translate(-100%, -100%);
//   transform: translate(-73%, -90%);
//   cursor: pointer;
// }

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.card div {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  text-align: center;
  line-height: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
}

.card .back {
  background: #222;
  color: #fff;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

label:hover .card {
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
}

.gg {
  //input
  display: none;
}

:checked + .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
  transform: rotateX(160deg);
  -webkit-transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}
