nav {
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: var(--nav-background-color);
  font-size: 26px;
  border: 1px solid black;
  
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  margin: 0 30px;
}
