.main_container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

form {
  padding: 20px;
  text-align: center;
  width: 600px;
  display: block;
  justify-content: center;
  border: 1px solid black;
}

input {
  font-size: 24px;
  width: 60%;
  margin: 10px 0;
}
