.main_container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  input {
    font-size: 24px;
    width: 60%;
    margin: 10px 0;
  }
}

form {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
}

.reg {
  &__input {
    margin: 15px 0;
    position: relative;
    background-color: aliceblue;
  }

  &__button {
    margin: 0 auto;
  }

  &__form {
    border: none;
    border: 2px solid #81a4cd;
  }
}
