.main_container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

form {
  padding: 20px;
  text-align: center;
  width: 600px;
  display: block;
  justify-content: center;
  align-items: center;
}

.reg {
  &__input {
    margin: 15px 0;
    position: relative;
    background-color: aliceblue;
    width: 60%;
  }

  &__button {
    margin: 0 auto;
  }

  &__form {
    border: none;
  }
}
