.profile {
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__buttons {
    display: flex;
    justify-content: center;
  }
  &__input {
    width: 490px;
    justify-content: space-evenly;
    font-size: 20px;
    display: flex;
    flex-direction: column;

    margin-left: 20px;
  }
  &__modulesOne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__grups {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
