html[data-theme='dark'] {
  --button-text-color: #ffffff;
  --button-background-color: #0077b6;
  --button-border-color: #00b4d8;

  --input-text-color: #ffffff;
  --input-background-color: #0077b6;
  --input-border-color: #00b4d8;
  --input-placeholder-color: #ffffff;

  --background-color: #023e8a;
}

html[data-theme='ligth'] {
  --button-text-color: #000000;
  --button-background-color: #90e0ef;
  --button-border-color: #00b4d8;

  --input-text-color: #ffffff;
  --input-background-color: #0077b6;
  --input-border-color: #00b4d8;
  --input-placeholder-color: #ffffff;

  --background-color: #48cae4;
}

