html[data-theme='Темная тема'] {
  --nav-background-color: #415a77;

  --main-text-color: #ffffff;

  --button-text-color: #0d1b2a;
  --button-background-color: #e0e1dd;
  --button-border-color: #778da9;

  --input-text-color: #ffffff;
  --input-background-color: #415a77;
  --input-border-color: #778da9;
  --input-placeholder-color: #ffffff;

  --background-color: #1b263b;
}

html[data-theme='Светлая тема'] {
  --nav-background-color: #3e7cb1;

  --main-text-color: #000000;

  --button-text-color: #000000;
  --button-background-color: #81a4cd;
  --button-border-color: #81a4cd;

  --input-text-color: #ffffff;
  --input-background-color: #3a3a3a;
  --input-border-color: #00b4d8;
  --input-placeholder-color: #ffffff;
  --div-border-color: #00b4d8;

  --background-color: #dbe4ee;
}
